.DS_Store
packages
Payload
*UserInterfaceState.xcuserstate
xcuserdata/
deps
cert.json
PrivateSigning/
_build

*.p12
*.pfx
*.cer
*.mobileprovision
*.xcconfig.local
Secrets.xcconfig
PrivateSigning/
DerivedData/
_build/

Zsign/build/
releases/
